.main{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/306/188/small/new-smartphone-and-headphone-on-wooden-table-with-green-space-nature-blur-background-free-photo.JPG");
}
.background1 {
  background-color: hsla(0, 0%, 100%, 0.212) !important;
  backdrop-filter: blur(10px) ;
  min-height: 700px;
}
.background2{
  background-color: hsla(0, 0%, 100%, 0.212) !important;
  backdrop-filter: blur(10px) ;
}
img {
  opacity: 0.7; /* Adjust the opacity value for transparency */
}
