<div class="main"  *ngIf="artistsData.length > 0 || primaryArtists.length > 0">
    <div class="list-group col-3 mx-4">
        <div class="mb-2 list-group-item text-center">Artists</div>
        <div *ngFor="let data of artistsData">
          <div (click)="setArtistsId(data.id)" routerLink="/detail">
            <a class="list-group-item px-3 border-0 rounded-3 list-group-item-action  mb-2 list-group-item-secondary">{{data.name}}</a>
          </div>{{data.id}}
        </div>
    </div>
     <div class="list-group col-3 mx-4">
        <div class="mb-2 list-group-item text-center">Primary Artists</div>
        <div *ngFor="let data of primaryArtists" routerLink="/detail">
          <a class="list-group-item px-3 border-0 rounded-3 list-group-item-action mb-2 list-group-item-success">{{data.name}}</a>
        </div>
     </div>
</div>



