/* General styles */
.mainDiv {
  cursor: pointer;
}

.product-grid {
  font-family: 'Antic Slab', serif;
  text-align: center;
  transition: all 0.3s ease 0s;
  margin-bottom: 20px;
}

.product-grid .product-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-grid .title, .follwers {
  font-size: 15px;
  text-transform: capitalize;
  color: #76B713;
}

.title:hover {
  color: #000000;
  font-weight: 600;
}

.container {
  position: relative;
}

/* Image styles */
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 5px;
}

.icon {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.6;
}

.container:hover .icon {
  opacity: 1;
}

/* Additional styles */
.text1 {
  background-color: #76B713;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.cards {
  flex: 0 0 14.28571429%;
  max-width: 14.28571429%;
}

.playIcon {
  padding: 5px;
  background-color: gray;
  border-radius: 50%;
  font-size: 30px;
}
