.topTitle {
  font-weight: 900;
  font-size: 12px;
  color: #8080809c;
}

.song_container {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 4px 20px -17px #76B713;
}

.img-container {
  position: relative;
  display: inline-block;
}

.song_container:hover .play-icon {
  opacity: 1;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 5px;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: url('https://www.freepnglogos.com/uploads/play-button-png/index-media-cover-art-play-button-overlay-5.png') center/cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.text {
  cursor: pointer;
}

.title,
.singers {
  font-size: 12px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  font-weight: 600;
  font-size: 14px;
}

.singers,
.title {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
